#lgn {
  margin: auto;
}
#un {
  width: 20%;
}
#pw {
  width: 20%;
}
#username {
  width: 80%;
}
#password {
  width: 80%;
}

.in_box {
  width: 50%;
}

#lgn {
  padding: 10px;
  border: 1px solid cyan;
}
