ul.clt,
ul.clt ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.clt ul {
  margin-left: 10px;
}
ul.clt li {
  margin: 0;
  padding: 0 7px;
  line-height: 20px;
  border-left: 1px solid #ff9800;
}
ul.clt li:last-child {
  border-left: none;
}
ul.clt li:before {
  position: relative;
  top: -0.3em;
  height: 1em;
  width: 12px;
  border-bottom: 1px solid #ff9800;
  content: "";
  display: inline-block;
  left: -7px;
}
ul.clt li:last-child:before {
  border-left: 1px solid #ff9800;
}
