@import "ls.css";

.panelbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.panel {
  display: block;
  width: auto;
  float: left;
  /* flex-basis: 1;*/
  /* flex-grow: 1;*/
}

.panel * {
  margin: 2px;
}

.artPanel {
  flex-shrink: 4;
}
.settingsPanel form {
  display: flex;
  flex-direction: column;
}

.controlPanel {
  flex-shrink: 2;
}

.controlPanel .inner {
  display: flex;
  flex-direction: column;
}

.aboutPanel .inner{
  display: flex;
  flex-direction: column;

}

b {
  color: #ff9800;
}
