input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.panel {
  width: auto;
  float: left;
  flex-basis: 1;
  /*flex-grow: 1;*/
}

b {
  color: #ff9800;
}

.panel * {
  margin: 2px;
}

.cntr {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.small .form-control {
  max-width: 3ch;
  height: 100%;
  float: right;
}

.inner {
  padding: 5px;
  position: relative;
}

.cols {
  column-count: 3;
}

.panelbox {
  display: flex;
  flex-wrap: wrap;
}

/*#panelbox > .card:first-child{
	margin-bottom: 10px;
	margin-right: 10px;
}*/

.term {
  flex-basis: 2;
  height: 450px;
}
.xterm-screen {
  height: 350px !important;
}

.pbuttons {
  float: right;
  margin-right: 10px;
}
