<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hack.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
<link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utilities</title>
</head>
<body class="hack dark">

{% include 'header.html' %}

<p>Miscellaneous communal utilities: random numbers, mathematics tools, optical character recognition, and more</p>

<p>Launch new utility:</p>
<select id="new_util_select">
    {% for u in sysutils %}
    <option value="{{ u }}">{{ u }}</option>
    {% endfor %}
</select>


<div id="reactpanelbox"></div>

<script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

<script src="{{ url_for('static', filename='js/util.js') }}" ></script>

<style>

    #sendbtn{
        float: left;
    }

    #message{
        padding-top: 0px;
    }

    #messagelabel{
        width: auto;
        height: auto;
        line-height: normal;
    }

    #postbox {
        overflow: scroll;
        max-height: 30vh;
    }
</style>

</body>
