{% set b %}
<div class="small">
<div>
 <label>d4</label> 
 <input id="d4" type="text" size="2" class="form-control">
</div>
<div>
 <label>d6</label> 
 <input id="d6" type="text" size="2"class="form-control">
</div>
<div>
 <label>d8</label> 
 <input id="d8" type="text" size="2" class="form-control">
</div>
<div>
 <label>d10</label> 
 <input id="d10" type="text" size="2" class="form-control">
</div>
<div>
 <label>d12</label> 
 <input id="d12" type="text" size="2" class="form-control">
</div>
<div>
 <label>d20</label> 
 <input id="d20" type="text" size="2" class="form-control">
</div>
<div>
 <label>d100</label> 
 <input id="d100" type="text" size="3" class="form-control">
</div>
<img class='icon' id="dice_sub" 
 src="{{url_for('static',filename='img/chansey.gif')}}">
</div>
{% endset %}
