<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>pyxterm.js</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/hack.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dark.css') }}"
/>
<body class="hack dark container">
  {% include 'header.html' %}
  <link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />

  <span style="font-size: small; color:white">pyxterm.js</span>
  <span style="font-size: small; color:white"
    >status:
    <span style="font-size: small; color:black" id="status"
      >connecting...</span
    ></span
  >

  <!--div class="hack dark" style="height: calc(100% - 50px);" id="terminal"></div-->
  <div
    class="hack dark flex-item"
    id="terminal"
    style="position: relative; height: 70%; font-size: 6px;"
  ></div>
  <!-- xterm -->
  <script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

  <script src="{{ url_for('static', filename='js/shell.js') }}"></script>
</body>
